/*
** UNTV - music-player styles
** Author: Gordon Hall
*/

@-webkit-keyframes select_item {
  from {
    -webkit-transform: scale(0.9);
  }
  to {
    -webkit-transform: scale(1);
  }
}

header.extension-header {
  background-image: url("../icons/icon-white.svg");
  background-repeat: no-repeat;
  background-position: 12px center;
  background-size: 32px;
}
